$animation-length: 10s;
$color: bisque;

@keyframes home-rotation{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(50deg);
    }
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.top-home{
    background-color: $color;
    height: 100vh;
    transform: rotate(50deg);
    animation: home-rotation $animation-length ease-out;
}

.bottom-home{
    background-color: rgb(116, 116, 116);
}

.example{

}